<div class="container sidebar">
  <%= render partial: 'profile_picture', locals: {user: @user, current: @current_user}%>

  <div class="friends">
    <h2>Friends:</h2>
    <ul>
      <%= render @user.friends.page(1).per(5) %>
    </ul>
    <%= link_to "Other friends", show_user_friends_path(@user)%>
  </div>

  <% if @current_user == @user %>
    <div class="pending-requests">
      <h3>Pending Requests:</h3>
      <ul>
        <%= render partial: 'request', collection: @requests %>
      </ul>
    </div>
  <%end%>
</div>

<div class="container center">
  <h1><%= @user.full_name%></h1>

  <%= render partial: 'add_friend', locals: {user: @user}%>

  <% if @current_user == @user %>
    <%= render partial: 'posts/post_form', locals: {post: @post}%>
  <% end %>

  <%= render partial: 'posts/post', locals: {full_post: false}, collection: @user_posts %>
</div>
<div class="container bottom">
  <div class="remove">
    <%= render partial: 'remove_friend', locals: {user: @user}%>
  </div>
</div>

