
<div class="post">
  <div class="post-content-author">
    <div class="post-author">
      <%= link_to post.user.full_name, post.user %> : 
    </div>
    <div class="post-content">
      <%= post.body %>
      <% if post.is_a? ImagePost %>
        <%= image_tag post.image %>
      <%end%>
    </div>
  </div>
  

  <div class="post-options">

    <%= render partial: 'user_like_likeables/like', locals: {likeable: post}%>

    <div class="comment-count">
      - Comments (<%= post.comments.count%>)
    </div>

    <% if @current_user == post.user %>
      <div class="remove-post">
        <% if post.is_a? TextPost %>
          <%= link_to "Delete post", text_post_path(post), method: :delete%>
        <% elsif post.is_a? ImagePost %>
          <%= link_to "Delete post", image_post_path(post), method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="comment">
    <%= form_for(:comment, url: comments_path) do |f| %>
      <%= f.hidden_field :post_id, value: post.id %>
      <%= f.hidden_field :post_type, value: post.class %>
      <%= f.hidden_field :url, value: request.original_url %>

      <%= f.text_area :body, placeholder: 'Leave a comment', class:"comment-form" %>
      
      <%= f.submit "Comment", class:'button comment-button'%>
      
    <% end %>
  </div>
  <div class="comment-section">
    <% if full_post %>
      <%= render post.comments.includes(:user) %>
    <% else %>
      <%= render post.comments.includes(:user).limit(5) %>
      <%= link_to "Show all comments", post %>
    <% end %>
  </div>
</div>
