<div class="post-form">
  <%= form_for post do |f| %>
    <%= f.hidden_field :url, value: request.original_url %>

    <%= f.label :body, "Post:"%><br>
    <%= f.text_area :body, size: "40x2" %><br>

    <%= f.submit "Publica", class:'button'%>
  <%end%>
  <div class="post-image">
    <%= link_to "Publish an image", new_image_post_path%>
  </div>
</div>