
<div class="post">
  <% if post.is_a? TextPost %>
      <div class="post-author">
        <%= link_to post.user.full_name, post.user %> : 
      </div>
      <div class="post-content">
        <%= post.body %>
      </div>
  <%end%>

  <div class="post-options">

    <div class="like-count">
      <%= post.user_likes_posts.count %>
    </div>
    <div class="like-option">
      <% unless liked_post? post %>
      <%= form_for(:like, url: user_like_posts_path) do |f| %>

        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.hidden_field :post_type, value: post.class %>
        <%= f.hidden_field :url, value: request.original_url %>

        <%= f.submit "Like", class: 'like-button'%>
      <%end%>
      <% else %>
       
        <% like = current_user.user_likes_posts.find_by(post: post)%>
        <%= form_for(:like, url: user_like_post_path(like), method: :delete) do |f| %>
          <%= f.hidden_field :url, value: request.original_url %>
          <%= f.submit "Don't like", class: 'like-button'%>
        <%end%>

      <%end%>
    </div>
  </div>
</div>
