<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render partial: 'layouts/header' %>
    </header>
    <div class="flash">
      <%if flash.any? %>
        <% flash.each do |type, message| %>
          <p class="flash-<%=type%>"><%= message %></p>
        <%end%>
      <%end%>
    </div>
    <%= yield %>
  </body>
</html>
